NODE_ENV=development
APP_URL=http://localhost:3000
PORT=3000
MONGO_URL=mongodb://localhost:27017/team-navigator
SHEETS_URL=REPLACE

GRAVITY_API_URL=https://api.artsy.net
GRAVITY_API_BASE=https://api.artsy.net/api/v1
GRAVITY_ID=123456
GRAVITY_SECRET=123456

SLACK_AUTH_TOKEN=xoxp-123456
SLACK_TEAM_ID=T0123456
SLACK_BOT_TOKEN=xoxb-123456
