extends layout

block body
  header.search
    input.bordered-input.is-block.js-search(
      size='30'
      placeholder='Search'
      autofocus
    )

  .results.js-results
    //- Rendered client-side

  .teams: for team in teams
    .team
      if team.name
        .team-metadata
          h1.team-name
            = team.name
          if team.description
            .team-description
              = team.description

      for subteam in team.subteams
        if subteam.subteam
          h2.subteam-name
            = subteam.subteam

        .team-members
          for member in subteam.members
            include partials/member
