html
  head
    title Team
  body
    for members, name in teams
      h1= name

      for member in members

        if member.headshot
          span
            img( src= crop(member.headshot, {}) )
            = member.name

      hr
