extends layout

block body
  .logout: a.avant-garde-button-black.is-small( href='/logout' )
    | Logout

  if user.privileged
    .refresh
      form(action="/refresh",method="post")
        button.avant-garde-button-black.is-small
          | Admin Refresh

  include partials/header

  .teams( class='js-teams' )
    for team in teams
      .team
        if team.name
          .team-metadata
            h1.team-name
              = team.name
            if team.description
              .team-description
                = team.description

        for subteam in team.subteams
          if subteam.subteam
            h2.subteam-name
              = subteam.subteam

          .members
            for member in subteam.members
              include partials/member
