html
  head
    title Team Artsy

    meta( name='robots', content='noindex' )

    link( type='text/css', rel='stylesheet', href='//fast.fonts.net/cssapi/f7f47a40-b25b-44ee-9f9c-cfdfc8bb2741.css' )
    link( type='text/css', rel='stylesheet', href='/stylesheets/index.css' )

    script( type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js' )
    script( type='text/javascript', src='/javascripts/index.js' )

  body
    block body

    footer.footer
      p You&rsquo;re logged in as #{user.email}.

      if user.privledged
        form( action='/refresh', method='POST' )
          button.avant-garde-button-black
            | Refresh data

      p: a.avant-garde-button-white( href='/logout' )
        | Logout
