extends layout

block body
  .return: a.avant-garde-button-white.is-tiny( href='/' )
    | Back

  .members
    include partials/member

  .member-supplementary
    if member.city || member.country
      p Based in #{[member.city, member.country].join(', ')}

    if member.floor
      p Can be found on the #{member.floor}<sup>th</sup> floor

    if member.reports_to
      p Reports to #{member.reports_to}

    if member.intro_email
      p: a.purple-link( href= member.intro_email, target='_blank' )
        | Check out #{member.name}’s introduction to Artsy!