body {
  background-color: white;
  color: black;
  font-family: 'Adobe Garamond W08', 'Times New Roman', 'Times', serif;
  font-smoothing: antialiased;
  font-size: 17px;
  line-height: 1.5
}

h1 {
  font-weight: normal;
  font-size: 37px;
  line-height: 1.2;
  text-align: center;
}

h2 {
  font-family: 'ITC Avant Garde Gothic W04', 'Helvetica', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 17px;
  line-height: 1.33;
  text-align: center;
}

a {
  color: black;
}

hr {
  margin: 20px 0;
  height: 1px;
  background-color: #ccc;
  border: none;
}

#search {
  display: block;
  margin: 10px auto;
}

.teams {
  margin: 50px 0;
}

.team { margin: 100px; }
  .team:first-child { margin-top: 0; }
  .team:last-child { margin-bottom: 0; }

.team-members {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.member {
  display: inline-block;
  margin: 20px;
  width: 220px;
}

.headshot {
  display: block;
  margin: 10px auto;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background-color: #ccc;
}

.member-name {
  margin: 10px 0;
}

.hidden {
  display: none;
}

.full-member {
  margin: 20px;
}
