body
  margin 20px
  garamond-size('s-body', true)
  background-color white
  color black

h1
  small-caps()
  font-weight normal
  text-align center

h2
  avant-garde-size('m-headline')
  color gray-darker-color
  text-align center
  font-weight normal

a
  color black
  text-decoration none

hr
  margin 20px 0
  height 2px
  background-color gray-lighter-color
  border none

input
  // Needs to go into Élan
  appearance none

.faux-underline
  fine-faux-underline()

.purple-link
  color purple-color
  &.faux-underline
    fine-faux-underline(purple-color)
