.footer
  margin 40px auto
  text-align center

.logout
  position fixed
  right 20px
  bottom @right
  force-hardware-acceleration()

.refresh
  position fixed
  right 20px
  bottom 40px;
  force-hardware-acceleration()
