.members
  text-align center
  display flex
  flex-direction row
  justify-content center
  flex-wrap wrap
  align-items flex-start

.member
  display inline-block
  margin 20px
  width 220px

.member-headshot
  position relative
  display block
  margin 10px auto
  border-radius 50%
  height 200px
  width 200px
  border 1px solid white
  &:after
  &:before
    display block
    z-index -1
    position absolute

  &:before
    content ''
    width 100%
    height 100%
    background-color gray-color
    border-radius 50%
  &:after
    content attr(data-initials)
    top 50%
    left 50%
    transform translate(-50%, -50%)
    avant-garde-size('xl-headline')
    color gray-dark-color

.member-metadata
  margin 20px 0

.member-name
  display block
  margin 10px 0
  avant-garde-size('m-headline')

.member-role-text
  margin 20px 0

.member-start-date
  margin 20px 0
  avant-garde-size('s-headline')

.member-email
  display block
  margin 10px 0
  color gray-dark-color
  avant-garde-size('s-headline')
  > span
    color black

.member-supplementary
  margin 0 auto 40px auto
  text-align center
  border-top 2px solid gray-lighter-color
  border-bottom @border-top
  & + .member-supplementary
    border-top none
    margin-top -20px

.return
  position fixed
  top 20px
  left @top
