.members
  text-align center
  display flex
  flex-direction row
  justify-content center
  flex-wrap wrap
  align-items flex-start

.member
  display inline-block
  margin 20px
  width 220px

.member-headshot
  display block
  margin 10px auto
  border-radius 50%
  height 200px
  width 200px
  background-color gray-color

.member-metadata
  margin 20px 0

.member-name
  display block
  margin 10px 0
  avant-garde-size('m-headline')

.member-role-text
  margin 20px 0

.member-start-date
  margin 20px 0
  avant-garde-size('s-headline')

.member-email
  display block
  margin 10px 0
  color gray-dark-color
  avant-garde-size('s-headline')
  > span
    color black

.member-supplementary
  margin 0 auto 40px auto
  text-align center
  border-top 2px solid gray-lighter-color
  border-bottom @border-top

.return
  position fixed
  top 20px
  left @top
