.member
  display inline-block
  margin 20px
  width 220px

.member-headshot
  display block
  margin 10px auto
  border-radius 50%
  height 200px
  width 200px
  background-color gray-color

.member-metadata
  margin 20px 0

.member-name
  display block
  margin 10px 0
  avant-garde-size('m-headline')

.member-role-text
  margin 20px 0

.member-email
  display block
  margin 10px 0
  color gray-dark-color
  avant-garde-size('s-headline')
  > span
    color black
