header-height = 70px

.search
  display flex
  height header-height
  align-items center
  position fixed
  top 0
  right 0
  left 0
  padding 0 20px
  background-color rgba(white, 0.90)
  transition background-color 0.5s
  force-hardware-acceleration()
  &.is-focused
    background-color white

  > input
    border-color transparify(gray-lighter-color, black)

.results
  display none
  position fixed
  top header-height
  right 0
  bottom 0
  left 0
  background-color white
  border-top 2px solid purple-color
  overflow-y scroll
  -webkit-overflow-scrolling touch
  z-index 1

.is-visually-hidden
  position absolute
  overflow hidden
  clip rect(0 0 0 0)
  height 1px
  width 1px
  margin -1px
  padding 0
  border 0
