.teams
  margin 50px 0

.team
  .team:first-child
    margin-top 0
  .team:last-child
    margin-bottom 0

.team-name
  garamond-size('l-headline')

.team-description
  width 50%
  margin 20px auto
  padding-bottom 40px
  border-bottom 2px dotted gray-lighter-color

.team-members
  text-align center
  display flex
  flex-direction row
  justify-content center
  flex-wrap wrap
  align-items flex-start
